<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name = "viewport">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel = "stylesheet" href = "{{STATIC_URL}}stylesheets/screen.css">

    <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyADree528MTwSdsOwfvSEaR6uViSMDFC5U"></script>
    <script src = "{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
    <script src = "{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "{{STATIC_URL}}bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src = "{{STATIC_URL}}bower_components/sprintf/dist/sprintf.min.js"></script>

    <script src = "{{STATIC_URL}}js/app.js"></script>
</head>
<body>
    {% block body_block %}{% endblock %}

</body>
</html>