{% extends "samhs/base.html" %}
        
{% block title %}SAMHS Map{% endblock %}

{% block body_block %}
    <h2 id = "title">SAMHS Map Application</h2>
    <div id = "map-canvas"></div>

    <div class = "location-container">
        <div id = "login-wrapper">
            <button type = "button" id = "btn-login" class = "btn btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>
            <button type = "button" id = "btn-logout" class = "btn btn-default">Logout</button>
        </div>
        <div id = "location-entry" class="hidden">
            <div id = "location-data-entry">
                <div class = "form-group">
                    <label for = "location-name">Location Name</label>
                    <input type = "text" class = "form-control" id = "location-name" placeholder="Location Name">
                </div>

                <div class="form-group">
                    <label for="location-address">Location Address</label>
                    <input type="text" class = "form-control" id = "location-address" placeholder="Location Address">
                </div>

                <div class="form-group">
                    <label for = "location-type">Location Type</label>
                    <select id = "location-type" class="form-control">
                        <option value = "ACC">Adult Community Corrections</option>
                        <option value = "CH">Courthouse</option>
                        <option value = "CF">Correctional Facility</option>
                        <option value = "JCC">Juvenile Community Corrections</option>
                        <option value = "YDC">Youth Development Center</option>
                    </select>
                </div>
                {% csrf_token %}
                <div class = "location-button-wrapper">
                    <button id = "location-submit" class="btn btn-default">Save</button>
                    <button id = "location-delete" class = "btn btn-default" disabled>Delete</button>
                    <button id = "location-clear" class = "btn btn-default" disabled>Clear</button>
                </div>
                <div id = "geocode-error"> </div>
            </div>
        </div>
    </div>

    <div class = "modal fade" id = "login-modal" tab-index = "-1" role = "dialog" aria-hidden = "true">
        <div class = "modal-dialog modal-sm">
            <div class = "modal-content">
                <div class="modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal"></button>
                    <h3 class = "modal-title">Login</h3>
                </div>
                <div class = "modal-body">
                    <div class = "form-group">
                        <label for = "user-login-name">User Name:</label>
                        <input type = "text" class = "form-control" id = "user-login-name" placehoder = "Username">
                    </div>
                    <div class = "form-group">
                        <label for = "user-login-password">Password:</label>
                        <input type = "password" class = "form-control" id = "user-login-password">
                    </div>
                </div>
                <div class = "modal-footer">
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">Close</button>
                    <button type = "button" class = "btn btn-primary" id = "user-login">Login</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}