/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#title {
  font-size : 20px;
  font-weight : bold;
  margin: 20px 0px;
  width : 250px;
  text-align: center;
}

#map-canvas {
  width: 800px;
  height: 600px;
  display: inline-block;
  float: left;
  margin-left: 45px;
}

#location-entry {
  display: inline-block;
  width : 400px;
  float:left;
  margin-top: 30px;
  margin-left: 75px;
}

#btn-login {
  float: left;
  margin-left: 75px;
}

.hidden {
  visibility: hidden;
}

.window {
  font-size : 16px;
  margin: 10px 0px;
}